body{
    font-family: 'Open Sans', sans-serif;
    color: #777;
}
div{
    display: block;
}
a{
    text-decoration: none;
    color: #777;
}
.nav{
    background: #fafafa;
    border-bottom: 1px solid #eee;
    color: #777;
    display: block;
    height: 50px;
}
.container{
    width: 1000px;
    margin: auto;
    padding: 0 20px;
}
.logo{
    float: left;
    font-size: 32px;
    line-height: 50px;

}
.logo a{
    color: #000;
}
.navbar-left{
    float: left;
    margin-left: 50px;
}
.navbar-left li{
    display: block;
    float: left;
    line-height: 50px;
    margin-left: 25px;
}
.navbar-left li a{
    font-weight: 600;
}
.navbar-left li a:hover{
    color: #000;
    border-bottom: 2px solid #000;
}
.navbar-right{
    float: right;
    width: 300px;
}
.btn{
    display: block;
    border: 1px solid;
    padding: 5px 10px;
    margin-left: 5px;
    margin-top: 10px;
    float: right;
    border-radius: 5px;
    font-size: 16px;
}
.signin{
    background-color: #fff;

}
.signup{
    background-color: #1cc97d;
    border-color: #135240;
    color: #fff;
}
.signup:hover{
    background-color: #07996c;
    border-color: #115249;
    cursor: pointer;
}
.signin:hover{
    background-color: #aeaeae;
    cursor: pointer;
}
h1{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
}
.caret{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.dropdown a{
    font-size: 16px;
    line-height: 50px;
    float: right;
    padding: 0 10px;
}
.dropdown:hover{
    background-color: #e7e7e7;
    color: #000;
}
.dropdown{
    position: relative;
    float: right;
    line-height: 20px;
    font-size: 12px;
    display: block;
    width: 185px;
}
.dropdown-menu{
    position: absolute;
    top: 50px;
    background-color: #e7e7e7;
    float: none;
    width: 185px;
    display: none;
}
.dropdown-menu a{
    line-height: 35px;
    font-size: 16px;
}
.dropdown:hover > .dropdown-menu{
    display: block;
    border-radius: 0 0 5px 5px;
}
.dropdown a:hover{
    color: #000;
    text-decoration: underline;
}
.filters{
    display: block;
}
.tree-menu{
    float: left;
    width: 175px;
}
.courses{
    width: 825px;
    float: left;
}
.course{
    width: 248px;
    display: inline-flex;
    flex-direction: row;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #fff;
    margin-left: 25px;
    margin-top: 25px;
}
.tree-menu span{
    font-weight: 600;
    color: #222;
    margin: 15px 0;
    font-size: 13px;
    display: block;
}
.tree-menu ul li a{
    font-size: 13px;
    color: #777;
    margin-bottom: 15px;
    display: block;
}
.tree-menu ul{
    margin-left: 5px;
    margin-bottom: 15px;
}
.tree-menu ul ul li a{
    color: #777;
    font-size: 13px;
    margin: 8px;
}
.tree-menu ul ul li{
    margin-left: 10px;
}
.tree-menu a:hover{
    color: #000;
    cursor: pointer;
}
.breadcrumb{
    margin: 15px 0;
    font-size: 13px;
    line-height: 18px;
    color: #aaa;
}
.breadcrumb span{
    margin: 0 15px;
}
.breadcrumb a:hover{
    color: #000;
}
.search-map{
    width: 800px;
    height: 400px;
    margin-top: 25px;
}
.wrapper-map{
    margin-left: 25px;
}
#click-map, .loading button{
    margin: auto;
    display: block;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
}
#click-map:hover{
    background-color: #aeaeae;
}
.loading{
    margin: 25px 0 200px 25px;
}
.cssload-fond{
	position:relative;
	margin: auto;
}

.cssload-container-general
{
	animation:cssload-animball_two 1.6s infinite;
		-o-animation:cssload-animball_two 1.6s infinite;
		-ms-animation:cssload-animball_two 1.6s infinite;
		-webkit-animation:cssload-animball_two 1.6s infinite;
		-moz-animation:cssload-animball_two 1.6s infinite;
	width:43px; height:43px;
}
.cssload-internal
{
	width:43px; height:43px; position:absolute;
}
.cssload-ballcolor
{
	width: 19px;
	height: 19px;
	border-radius: 50%;
}
.cssload-ball_1, .cssload-ball_2, .cssload-ball_3, .cssload-ball_4
{
	position: absolute;
	animation:cssload-animball_one 1.6s infinite ease;
		-o-animation:cssload-animball_one 1.6s infinite ease;
		-ms-animation:cssload-animball_one 1.6s infinite ease;
		-webkit-animation:cssload-animball_one 1.6s infinite ease;
		-moz-animation:cssload-animball_one 1.6s infinite ease;
}
.cssload-ball_1
{
	background-color:rgb(203,32,37);
	top:0; left:0;
}
.cssload-ball_2
{
	background-color:rgb(248,179,52);
	top:0; left:23px;
}
.cssload-ball_3
{
	background-color:rgb(0,160,150);
	top:23px; left:0;
}
.cssload-ball_4
{
	background-color:rgb(151,191,13);
	top:23px; left:23px;
}





@keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-o-keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-ms-keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-webkit-keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-moz-keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@keyframes cssload-animball_two
{
	0%{transform:rotate(0deg) scale(1);}
	50%{transform:rotate(360deg) scale(1.3);}
	100%{transform:rotate(720deg) scale(1);}
}

@-o-keyframes cssload-animball_two
{
	0%{-o-transform:rotate(0deg) scale(1);}
	50%{-o-transform:rotate(360deg) scale(1.3);}
	100%{-o-transform:rotate(720deg) scale(1);}
}

@-ms-keyframes cssload-animball_two
{
	0%{-ms-transform:rotate(0deg) scale(1);}
	50%{-ms-transform:rotate(360deg) scale(1.3);}
	100%{-ms-transform:rotate(720deg) scale(1);}
}

@-webkit-keyframes cssload-animball_two
{
	0%{-webkit-transform:rotate(0deg) scale(1);}
	50%{-webkit-transform:rotate(360deg) scale(1.3);}
	100%{-webkit-transform:rotate(720deg) scale(1);}
}

@-moz-keyframes cssload-animball_two {
    0% {
        -moz-transform: rotate(0deg) scale(1);
    }
    50% {
        -moz-transform: rotate(360deg) scale(1.3);
    }
    100% {
        -moz-transform: rotate(720deg) scale(1);
    }
}
.cssload-container-general{
    margin: auto;
}
.none{
    display: none!important;
}
.tree-menu .active a{
    color: #000;
}