/* Код для подключения шрифта в /css/stylename.css */
/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansRegularItalic"; */
@font-face {
    font-family: "OpenSansRegularItalic";
    src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot");
    src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"),
    url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBold"; */
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
    url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBoldItalic"; */
@font-face {
    font-family: "OpenSansSemiBoldItalic";
    src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
    src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"),
    url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body{
    font-family: "OpenSansRegular";
    color: #777;
    background: #edeef0;
}
.wrapper {
    position: relative;
    min-height: 100%;
}
.content {
    padding-bottom: 80px;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
    height: 40px;
    background-color: rgba(89, 0, 89, 0.3);
    text-align: center;
    background: #c5c5c5;
}
footer span{
    line-height: 40px;
    font-size: 18px;
    color: rgb(72, 0, 72);
    font-family: "OpenSansSemiBold";
}
.clear{
    clear: both;
}
div{
    display: block;
}
a{
    text-decoration: none;
    color: #fff;
}
input{
    -webkit-appearance: none;
}
.nav{
    background: rgb(72, 0, 72);
    border-bottom: 1px solid rgb(49, 0, 49);
    color: #777;
    display: block;
    height: 50px;
}
.container{
    width: 1000px;
    margin: auto;
    padding: 0 20px;
}
.logo{
    float: left;
    font-size: 32px;
    line-height: 50px;

}
.logo a{
    color: #fff;
    font-family: "OpenSansSemiBoldItalic";
}
.navbar-left{
    float: left;
    margin-left: 50px;
}
.navbar-left li{
    padding: 0 15px;
    display: block;
    float: left;
    line-height: 50px;
}
.navbar-left li a{
    font-family: "OpenSansSemiBold";
    display: block;
}
.navbar-left li:hover{
    background-color: rgb(49, 0, 49);
}
.navbar-right{
    float: right;
    width: 200px;
}
h1{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}
.caret{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.dropdown a{
    font-size: 16px;
    line-height: 50px;
    padding: 0 10px;
}
.dropdown:hover{
    background-color: rgb(49, 0, 49);
    cursor: pointer;
}
.drop{
    display: block;
    position: absolute;
    width: 180px;
    height: 60px;
    top:0;
}
.dropdown{
    position: relative;
    float: right;
    line-height: 20px;
    font-size: 12px;
    display: block;
    width: 185px;
}
.dropdown-menu li:hover{
    background-color: rgba(89, 0, 89, 0.2);
}
.dropdown-menu li{
    margin-top: 5px;
}
.dropdown-menu li:last-child{
    margin-bottom: 5px;
}
.drop:hover > .dropdown-menu {
  display: block;
}
.dropdown-menu{
    position: absolute;
    top: 50px;
    background-color: #fff;
    float: none;
    width: 185px;
    margin-top: 6px;
    display: none;
    border: 1px solid #c5d0db;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}
.dropdown-menu:after, .dropdown-menu:before{
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    bottom: 100%;
    right: 42px
}
.dropdown-menu:before{
    border-width: 6px;
    margin: 0 -6px;
    border-bottom-color: #c5d0db;
}
.dropdown-menu:after{
    border-width: 5px;
    margin: 0 -5px;
    border-bottom-color: #fff;
}
.dropdown-menu a{
    line-height: 35px;
    font-size: 16px;
    color: rgb(49, 0, 49);
    display: block
}
.filters{
    display: block;
    margin-left: 199px;
}
.tree-menu{
    float: left;
    width: 175px;
    height: 267px;
}
.courses{
    width: 825px;
    float: left;
}
.course{
    color: #fff;
    width: 250px;
    display: inline-flex;
    flex-direction: row;
    border-radius: 5px;
    background-color: #fff;
    margin-left: 25px;
    margin-top: 25px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    transition: all .2s ease-in-out;
}
.course:hover{
    transform: scale(1.05);
}
.tree-menu span{
    font-family: "OpenSansSemiBold";
    color: #222;
    margin: 15px 0;
    font-size: 13px;
    display: block;
}
.tree-menu ul li a{
    font-size: 13px;
    color: #777;
    margin-bottom: 15px;
    display: block;
}
.tree-menu ul{
    margin-left: 5px;
    margin-bottom: 15px;
}
.tree-menu ul ul li a{
    color: #777;
    font-size: 13px;
    margin: 8px;
}
.tree-menu ul ul li{
    margin-left: 10px;
}
.tree-menu a:hover{
    color: #000;
    cursor: pointer;
}
.breadcrumb{
    margin: 15px 0;
    font-size: 13px;
    line-height: 18px;
    color: #aaa;
    -webkit-text-size-adjust: 100%;
}
.comments-empty{
    padding: 15px;
    border: 1px solid rgb(72, 0, 72);
    border-radius: 5px;
    background-color: rgba(89, 0, 89, 0.3);
    margin-top: 15px;
    color: #000;
}
.comments-pxpty a, .comments-pxpty{
    -webkit-text-size-adjust: 100%;
}
.breadcrumb span{
    margin: 0 15px;
    -webkit-text-size-adjust: 100%;
}
.breadcrumb a{
    color: #000;
    -webkit-text-size-adjust: 100%;
}
.breadcrumb a:hover{
    text-decoration: underline;
}
.search-map{
    width: 800px;
    height: 400px;
    margin-top: 25px;
}
.wrapper-map{
    margin-left: 25px;
}
button, input[type="button"], input[type="submit"]{
    background: rgb(72, 0, 72);
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-family: "OpenSansRegular";
}
button:hover, input[type="button"]:hover, input[type="submit"]:hover{
    opacity: 0.8;
}
#click-map, .loading button{
    margin: auto;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.loading{
    margin: 25px 0 0 25px;
}
.cssload-fond{
	position:relative;
	margin: auto;
}

.cssload-container-general
{
	animation:cssload-animball_two 1.6s infinite;
		-o-animation:cssload-animball_two 1.6s infinite;
		-ms-animation:cssload-animball_two 1.6s infinite;
		-webkit-animation:cssload-animball_two 1.6s infinite;
		-moz-animation:cssload-animball_two 1.6s infinite;
	width:43px; height:43px;
}
.cssload-internal
{
	width:43px; height:43px; position:absolute;
}
.cssload-ballcolor
{
	width: 19px;
	height: 19px;
	border-radius: 50%;
}
.cssload-ball_1, .cssload-ball_2, .cssload-ball_3, .cssload-ball_4
{
	position: absolute;
	animation:cssload-animball_one 1.6s infinite ease;
		-o-animation:cssload-animball_one 1.6s infinite ease;
		-ms-animation:cssload-animball_one 1.6s infinite ease;
		-webkit-animation:cssload-animball_one 1.6s infinite ease;
		-moz-animation:cssload-animball_one 1.6s infinite ease;
}
.cssload-ball_1
{
	background-color:rgb(203,32,37);
	top:0; left:0;
}
.cssload-ball_2
{
	background-color:rgb(248,179,52);
	top:0; left:23px;
}
.cssload-ball_3
{
	background-color:rgb(0,160,150);
	top:23px; left:0;
}
.cssload-ball_4
{
	background-color:rgb(151,191,13);
	top:23px; left:23px;
}





@keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-o-keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-ms-keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-webkit-keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-moz-keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@keyframes cssload-animball_two
{
	0%{transform:rotate(0deg) scale(1);}
	50%{transform:rotate(360deg) scale(1.3);}
	100%{transform:rotate(720deg) scale(1);}
}

@-o-keyframes cssload-animball_two
{
	0%{-o-transform:rotate(0deg) scale(1);}
	50%{-o-transform:rotate(360deg) scale(1.3);}
	100%{-o-transform:rotate(720deg) scale(1);}
}

@-ms-keyframes cssload-animball_two
{
	0%{-ms-transform:rotate(0deg) scale(1);}
	50%{-ms-transform:rotate(360deg) scale(1.3);}
	100%{-ms-transform:rotate(720deg) scale(1);}
}

@-webkit-keyframes cssload-animball_two
{
	0%{-webkit-transform:rotate(0deg) scale(1);}
	50%{-webkit-transform:rotate(360deg) scale(1.3);}
	100%{-webkit-transform:rotate(720deg) scale(1);}
}

@-moz-keyframes cssload-animball_two {
    0% {
        -moz-transform: rotate(0deg) scale(1);
    }
    50% {
        -moz-transform: rotate(360deg) scale(1.3);
    }
    100% {
        -moz-transform: rotate(720deg) scale(1);
    }
}
.cssload-container-general{
    margin: auto;
}
.none{
    display: none!important;
}
.tree-menu .active a{
    color: #000;
}
.course img{
    border-radius: 5px 5px 0 0;
    position: absolute;
    height: 187px;
    width: 250px;
}
.course-info{
    z-index: 10;
}
.Golubev{
    background-color: rgba(37, 43, 48, 0.65);
    height: 187px;
    width: 250px;
    z-index: 9;
    position: absolute;
    border-radius: 5px 5px 0 0;
}
.course-wrapper-title{
    height: 165px;
    border-radius: 5px 5px 0 0;
    z-index: 11;
    position: relative;
    color: #fff;
    padding: 25px 15px 0 15px;
    min-width: 220px;
}
.course-wrapper{
    position: relative;
}
.course-name{
    display: block;
    color: #fff;
    font-size: 12px;
    margin-bottom: 10px;
}
.course-title{
    color: #fff;
    display: inline;
    font-size: 16px;
    line-height: 20px;
}
.course-title:hover{
    border-bottom: 1px solid #fff;
}
.course-info{
    color: #879198;
}
.course-description{
    border-bottom: 1px solid rgb(225, 228, 224);
    padding: 15px;
    font-size: 14px;
    line-height: 16px;
}
.course-activity span, .course-price span{
    display: block;
    text-align: right;
}
.course-activity b, .course-price b{
    float: left;
}
.course-activity, .course-price{
    padding: 15px;
    font-size: 14px;
}
.course-activity{
    border-bottom: 1px solid rgb(225, 228, 224);
}
.course-map{
    height: 300px;
    width: 705px;
}
.recommend_courses{
    float: right;
    width: 250px;
    margin-left: 15px;
}
.page-course{
    float: left;
    width: 735px;
}
.wrapper-course{
    padding: 15px;
    width: 705px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}
.page-course h1{
    color: #000;
    margin: 0;
    font-family: "OpenSansSemiBold";
    font-size: 26px;
    margin-bottom: 8px;
}
.page-course dd{
    color: #939393;
    font-size: 12px;
    margin-bottom: 15px;
}
.page-course .organization{
    float: right;
    margin-bottom: 15px;
    margin-left: 15px;
}
.organization img{
    display: block;
}
.organization{
    width: 100px;
}
.organization span{
    color: #000;
    font-size: 12px;
    text-align: right;
    display: block;
    margin-top: 3px;
}
.page-course .introtext{
    color: #000;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
    text-indent: 20px;
}
.page-course .description{
    color: #000;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
    text-indent: 20px;
}
.page-course a{
    color: rgba(89, 0, 89, 0.8);
}
.page-course .description p{
    margin: 10px 0;
    display: block;
}
.page-course .photo img{
    margin: 15px 0;
}
.page-course table{
    width: 100%;
    margin-bottom: 25px;
}
.page-course th{
    width: 50%;
    padding: 20px;
    text-align: left;
}
.page-course tr:nth-child(2n) {
	background-color: rgba(89, 0, 89, 0.3);
}
.page-course th:nth-child(2n - 1) {
    color: #777;
}
.page-course th:nth-child(2n) {
    font-family: "OpenSansSemiBold";
    color: #000;
}
.page-course .options a{
    margin-bottom: 10px ;
    display: block;
}
.page-course a:hover{
    text-decoration: underline;
}
.page-course h2{
    color: #000;
    margin-bottom: 10px;
    font-size: 18px;
}
.social div{
    float: right;
}
.social{
    margin-top: 25px;
    text-align: right;
}
.social span{
    line-height: 24px;
}
.soc-span{
    margin-right: 15px;
}
.btn{
    display: block;
    border: 1px solid;
    padding: 5px 10px;
    margin-left: 5px;
    margin-top: 10px;
    float: right;
    border-radius: 5px;
    font-size: 16px;
}
.signin{
    background-color: #fff;
    color: #000;
}
.signin:hover{
    opacity: 1;
}
.signup{
    background-color: #1cc97d;
    border-color: #135240;
    color: #fff;
}
.signup:hover{
    background-color: #07996c;
    border-color: #115249;
    cursor: pointer;
}
.signin:hover{
    background-color: #aeaeae;
    cursor: pointer;
}
.hidden{
    display: none;
}
.comments-pxpty{
    padding: 15px;
    border: 1px solid rgb(72, 0, 72);
    border-radius: 5px;
    background-color:rgba(89, 0, 89, 0.3);
    margin-top: 15px;
    color: #000;
}
.comments-pxpty a{
    color: #fff;
}
.comments{
    padding: 15px;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}
.comments .thumbnail img{
    float: left;
    display: block;
    padding: 0 15px 15px 0;
}
.comment{
    margin-bottom: 15px;
}
.comment .panel-heading strong{
    color: rgb(72, 0, 72);
    font-size: 16px;
    display: inline;
}
.comment dd{
    color: #aaa;
    font-size: 14px;
    display: inline;
}
.comment p{
    color: #000;
    font-size: 16px;
    line-height: 18px;
    margin-top: 10px;
    word-break: break-all;
}
.comments textarea{
    width: 100%;
    padding: 15px;
    min-height: 100px;
    max-width: 705px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 3px;
    border-color: rgb(72, 0, 72);
}
.comments input[type="submit"]{
    display: block;
    text-align: right;
    float: right;
    margin-top: 10px;
    font-size: 16px;
}
#utr{
    position: fixed;
    color: #000;
}
.recommend_courses .course{
    margin: 0;
}
.recommend_courses .rec{
    font-size: 15px;
    display: block;
    color: #000;
    background-color: #fff;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}
.Rcourse img{
    position: absolute;
    height: 187px;
    width: 250px;
    border-radius: 5px;
}
.Rcourse-info{
    z-index: 10;
}
.RGolubev{
    background-color: rgba(37, 43, 48, 0.65);
    height: 187px;
    width: 250px;
    z-index: 9;
    position: absolute;
    border-radius: 5px;
}
.Rcourse-wrapper-title{
    height: 187px;
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
    z-index: 11;
    position: relative;
    color: #fff;
    padding: 15px 15px 0 15px;
}
.Rcourse-wrapper{
    position: relative;
    margin-bottom: 15px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    border-radius: 5px;
}
.Rcourse-name{
    display: block;
    color: #fff;
    font-size: 12px;
    margin-bottom: 10px;
}
.Rcourse-title{
    color: #fff;
    display: block;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
}
.Rcourse-title:hover{
    text-decoration: underline;
}
.Rcourse-info{
    color: #879198;
}
.Rcourse-wrapper-title span{
    display: block;
    color: #fff;
    font-size: 15px;
    margin-bottom: 10px;
}
.Rcourse .age{
    border: 1px solid #fff;
    height: 25px;
    min-width: 25px;
    font-size: 16px;
    border-radius: 17px;
    text-align: center;
    line-height: 25px;
    padding: 3px;
    right: 8px;
    position: absolute;
    bottom: 8px;
}
.Rcourse-plug{
    height: 25px;
    width: 25px;
    margin: 3px 0 0 3px;
    float: right;
}
#updown {
    position: fixed;
    margin-left: 1030px;
    top: calc(100% - 100px);
    cursor: pointer;
}

#updown.up{
    border-color: transparent transparent rgb(72, 0, 72) transparent;
    border-style: solid;
    border-width: 0 20px 30px 20px;
    height: 0;
    width: 0;
    cursor: pointer;
}

#updown.down{
  border-color: rgb(72, 0, 72) transparent transparent transparent;
    border-style: solid;
    border-width: 30px 20px 0 20px;
    height: 0;
    width: 0;
    cursor: pointer;
}
.fish{
    padding: 15px;
    border: 1px solid rgb(72, 0, 72);
    border-radius: 5px;
    background-color: rgba(89, 0, 89, 0.3);
    margin-top: 35px;
    color: #000;
    font-size: 24px;
    text-align: center;
}

.heart{
    position: relative;
    width: 10px;
    height: 10px;
    margin: 6px;
    background: #c7ced4;
    border-radius: 50%;
    box-shadow: 8px 0 0 0 #c7ced4;
}
.heart:before {
  position: absolute;
  content: "";
  display: block;
  left: 1px;
  top: 8px;
  border: 8px solid #c7ced4;
  border-bottom: 0;
  border-color: #c7ced4 transparent;
}
.heart_red {
    background-color: crimson;
    box-shadow: 8px 0 0 0 crimson;
}
.heart_red:before{
    border-color: crimson transparent;
}
.wrapper-like{
    cursor: pointer;
    float: right;
    width: 25px;
    height: 25px;
}
.Rcourse .rating{
    float: right;
    margin: -9px -5px 0 0;
    padding: 0 0 5px 5px
}
.rating-number{
    display: block;
    float: left;
    font-size: 16px;
    margin-top: 5px;
}
.Rcourse-title-wrapper a{
    font-size: 14px;
}
.course .rating{
    float: right;
    margin: -9px -5px 0 0;
    padding: 0 0 5px 5px
}
.course .age{
    border: 1px solid #fff;
    height: 25px;
    min-width: 25px;
    font-size: 16px;
    border-radius: 17px;
    text-align: center;
    line-height: 25px;
    padding: 3px;
    right: 8px;
    position: absolute;
    bottom: 8px;
}
#like .rating{
    float: left;
}
#like {
    float: left;
}
.sticky {
  position: fixed;
  z-index: 101;
}
.stop {
    position: relative;
    z-index: 101;
    margin-bottom: 50px;
}
.add-course, .form-wrapper{
    padding: 15px;
    width: 705px;
    margin: auto;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}
.add-course h1, .form-wrapper h1{
    color: #000;
    margin: 0 0 25px 0;
    font-size: 28px;
    font-family: "OpenSansSemiBold";
}
.add-course .title{
    width: 500px;
    max-width: 470px;
    padding: 15px;
    height: 40px;
    font-family: "OpenSansRegular";
    font-size: 16px;
    border: 1px solid rgb(49, 0, 49);
    border-radius: 3px;
}
.add-course .introtext{
    width: 500px;
    max-width: 470px;
    padding: 15px;
    height: 80px;
    font-family: "OpenSansRegular";
    font-size: 16px;
    border: 1px solid rgb(49, 0, 49);
    border-radius: 3px;
}
.form-add-course div:nth-child(2) label, .form-add-course div:nth-child(3) label{
    display: block;
    float: left;
    min-width: 200px;
    color: rgb(49, 0, 49);
}
.form-wrapper div label{
    display: block;
    float: left;
    min-width: 200px;
    color: rgb(49, 0, 49);
}
.form-wrapper div input[type="text"], .form-wrapper div input[type="password"]{
    width: 483px;
    padding: 5px 10px;
    height: 20px;
    font-family: "OpenSansRegular";
    font-size: 16px;
    border: 1px solid rgb(49, 0, 49);
    border-radius: 3px;
    display: block;
    margin-bottom: 25px;
}
.form-add-course div:nth-child(2) textarea, .form-add-course div:nth-child(3) textarea {
    margin-bottom: 15px;
}
.form-add-course div:nth-child(4) label{
    display: block;
    margin-bottom: 15px;
    color: rgb(49, 0, 49);
}
#mceu_16{
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 15px;
}
.form-add-course div:nth-child(5) label{
    display: block;
    float: left;
    min-width: 200px;
    color: rgb(49, 0, 49);
}
.form-add-course div:nth-child(5) input{
    margin-bottom: 15px;
}
.add-course .menu a{
    color: rgb(49, 0, 49);
}
.add-course .menu li{
}
.add-course .menu{
    margin-top: 100px;
    margin-bottom: 100px;
}
.add-course .menu li li{
    display: block;
}
.add-course span{
    font-size: 18px;
    color: #000;
    display: block;
    font-family: "OpenSansRegular";
}
.add-course-second label{
    display: block;
    float: left;
    min-width: 300px!important;
    color: rgb(49, 0, 49);
}
.add-course-second input[type="checkbox"]{
    -webkit-appearance: checkbox;
}
#test input[type="radio"], .form-wrapper input[type="radio"]{
    -webkit-appearance: radio;
}
#test input[type="checkbox"]{
    -webkit-appearance: checkbox;
}
.add-course-second input{
    display: block;
    margin-bottom: 18px;
    border: 1px solid;
    box-shadow: none;
    width: 70px;
    padding: 5px;
    font-size: 16px;
}
.map-add{
    width: 705px;
    height: 400px;
    margin: 15px 0;
}
.form-add-course .menu li ul{
    display: block;
    margin-left: 15px;
}
.form-add-course li{
    margin: 8px 0;
    cursor: pointer;
}
.form-add-course .menu .active a{
    color: crimson;
    font-family: "OpenSansBold";
}
.search-filter input{
    font-size: 16px;
    border: 2px solid rgb(72, 0, 72);
    padding: 5px 10px;
    margin-left: 25px;
    width: 620px;
    border-radius: 3px;
}
.search-filter{
    margin-bottom: 15px;
}
.filters label{
    font-size: 16px;
}
.number-filter input{
    font-size: 16px;
    border: 2px solid rgb(72, 0, 72);
    padding: 5px 10px;
    width: 30px;
    border-radius: 3px;
}
.number-filter{
    margin-bottom: 15px;
}
.filter-price{
    display: inline;
}
.filter-price label{
    margin-right: 12px;
    -webkit-text-size-adjust: 100%;
}
.filter-price input{
    margin-right: 15px;
}
.filter-age{
    margin-left: 116px;
    display: inline;
}
.filter-age input{
    margin-right: 15px;
}
.filter-age label{
    margin-right: 12px;
    -webkit-text-size-adjust: 100%;
}
.sort-price{
    margin-bottom: 15px;
    margin-left: 199px;
}
.sort-price a{
    color: rgb(72, 0, 72);
}
#map a{
    color: #2aabd2;
}
.disabled, .disabled:hover{
    cursor: not-allowed !important;
    background-color: #b7b7b7!important;
    opacity: 1!important;
}
.test h1{
    color: #000;
    margin: 0;
    font-family: "OpenSansSemiBold";
    font-size: 26px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin-top: 15px;
}
.test .info_test{
    width: 270px;
    float: right;
    padding: 15px;
    background-color: #fff;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}
.test .main{
    background-color: #fff;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    float: left;
    width: 655px;
}
.test p{
    font-family: "OpenSansLight";
    font-size: 24px;
    color: #000;
    margin-bottom: 25px;
}
.test label{
    font-family: "OpenSansLight";
    font-size: 18px;
    color: #000;
    margin-bottom: 8px;
    display: block;
    cursor: pointer;
    padding: 8px 3px;
    border-radius: 3px;
}
.test label:hover{
    background: rgb(72, 0, 72);
    color: #fff;
}
.test span{
    margin-bottom: 10px;
}
.test input[type="checkbox"], .test input[type="radio"]{
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.test .answer_button{
    margin-right: 15px;
    font-size: 16px;
    margin-top: 15px;
}
input.answer_puss {
    font-size: 16px;
    margin-top: 15px;
    color: rgb(72, 0, 72);
    background-color: #fff;
}
input.answer_puss:hover{
    color: rgb(72, 0, 72);
    text-decoration: underline;
}
.test .info_test i{
     cursor:pointer;
    display: inline-block;
    padding: 5px 10px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 4px;
    font-size: 18px;
    border-radius: 10px;
}
.test .info_test i:hover{
    background-color: #186de2;
    color: #fff!important;
}
.test .info_test .green{
    background-color: #8cc63e!important;
    color: #fff!important;
}
.test .info_test .orange{
    background-color: #ffa900!important;
    color: #fff!important;
}
.test .info_test .grey{
    background-color: #a6a6a6;
}
.test .info_test .dis{
    cursor: not-allowed !important;
}
.test .info_test span{
    font-family: "OpenSansLight";
    font-size: 18px;
    color: #3e91df;
    margin-bottom: 25px;
    display: block;
    margin-top: 10px;
}
.test .info_test span:before{
    background-image: url(../img/question.svg);
    width: 20px;
    height: 20px;
    display: block;
    margin-right: 5px;
    float: left;
    content: '';
}
.test .info_test a{
    font-family: "OpenSansRegular";
    font-size: 16px;
    color: #777;
    display: block;
    margin-top: 25px;
    cursor: pointer;
}
.test .info_test a:hover{
    color: #D75A4A;
}
.test .info_test a:after{
    background-image: url(../img/cross.svg);
    width: 14px;
    height: 14px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 5px;
    content: '';
}
.form-wrapper li, .form-wrapper ul{
    display: block;
}
.form-wrapper li label{
    float: none;
}
.form-wrapper div:nth-child(7) label{

}
.form-wrapper ul{
    margin-left: 200px;
}
.form-wrapper ul li{
    margin-bottom: 15px;
    margin-left: 5px;
}
.form-wrapper label{
    cursor: pointer;
}
.form-wrapper ul li input{
    float: left;
    width: 17px;
    height: 17px;
}
.form-wrapper .right{
    text-align: right;
}
.form-wrapper button{
    font-size: 16px;
}
.error li{
    color: crimson!important;
}
.error input, .error textarea{
    border-color: crimson!important;
    background-color: rgba(255, 187, 172, 0.45);
}
.error label{
    color: crimson!important;
}
.alert{
    color: crimson;
    padding: 15px;
    background-color: rgba(255, 187, 172, 0.45);
    border: 1px solid crimson;
    border-radius: 5px;
    margin-bottom: 15px;
}