* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: #777;
    background: #edeef0;
}
.wrapper {
    position: relative;
    min-height: 100%;
}
.content {
    padding-bottom: 90px;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
    height: 40px;
    background-color: rgba(89, 0, 89, 0.3);
    text-align: center;
    background: #c5c5c5;
}
footer span{
    line-height: 40px;
    font-size: 18px;
    color: rgb(72, 0, 72);
    font-weight: 600;
}
.clear{
    clear: both;
}
div{
    display: block;
}
a{
    text-decoration: none;
    color: #fff;
}
input{
    -webkit-appearance: none;
}
.nav{
    background: rgb(72, 0, 72);
    border-bottom: 1px solid rgb(49, 0, 49);
    color: #777;
    display: block;
    height: 50px;
}
.container{
    width: 1000px;
    margin: auto;
    padding: 0 20px;
}
.logo{
    float: left;
    font-size: 32px;
    line-height: 50px;

}
.logo a{
    color: #fff;
}
.navbar-left{
    float: left;
    margin-left: 50px;
}
.navbar-left li{
    padding: 0 15px;
    display: block;
    float: left;
    line-height: 50px;
}
.navbar-left li a{
    font-weight: 600;
    display: block;
}
.navbar-left li:hover{
    background-color: rgb(49, 0, 49);
}
.navbar-right{
    float: right;
    width: 200px;
}
h1{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}
.caret{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.dropdown a{
    font-size: 16px;
    line-height: 50px;
    padding: 0 10px;
}
.dropdown:hover{
    background-color: rgb(49, 0, 49);
    cursor: pointer;
}
.drop{
    display: block;
    position: absolute;
    width: 180px;
    height: 60px;
    top:0;
}
.dropdown{
    position: relative;
    float: right;
    line-height: 20px;
    font-size: 12px;
    display: block;
    width: 185px;
}
.dropdown-menu li:hover{
    background-color: rgba(89, 0, 89, 0.2);
}
.dropdown-menu li{
    margin-top: 5px;
}
.dropdown-menu li:last-child{
    margin-bottom: 5px;
}
.drop:hover > .dropdown-menu {
  display: block;
}
.dropdown-menu{
    position: absolute;
    top: 50px;
    background-color: #fff;
    float: none;
    width: 185px;
    margin-top: 6px;
    display: none;
    border: 1px solid #c5d0db;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}
.dropdown-menu:after, .dropdown-menu:before{
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    bottom: 100%;
    right: 42px
}
.dropdown-menu:before{
    border-width: 6px;
    margin: 0 -6px;
    border-bottom-color: #c5d0db;
}
.dropdown-menu:after{
    border-width: 5px;
    margin: 0 -5px;
    border-bottom-color: #fff;
}
.dropdown-menu a{
    line-height: 35px;
    font-size: 16px;
    color: rgb(49, 0, 49);
    display: block
}
.filters{
    display: block;
}
.tree-menu{
    float: left;
    width: 175px;
}
.courses{
    width: 825px;
    float: left;
}
.course{
    color: #fff;
    width: 250px;
    display: inline-flex;
    flex-direction: row;
    border-radius: 5px;
    background-color: #fff;
    margin-left: 25px;
    margin-top: 25px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    transition: all .2s ease-in-out;
}
.course:hover{
    transform: scale(1.05);
}
.tree-menu span{
    font-weight: 600;
    color: #222;
    margin: 15px 0;
    font-size: 13px;
    display: block;
}
.tree-menu ul li a{
    font-size: 13px;
    color: #777;
    margin-bottom: 15px;
    display: block;
}
.tree-menu ul{
    margin-left: 5px;
    margin-bottom: 15px;
}
.tree-menu ul ul li a{
    color: #777;
    font-size: 13px;
    margin: 8px;
}
.tree-menu ul ul li{
    margin-left: 10px;
}
.tree-menu a:hover{
    color: #000;
    cursor: pointer;
}
.breadcrumb{
    margin: 15px 0;
    font-size: 13px;
    line-height: 18px;
    color: #aaa;
    -webkit-text-size-adjust: 100%;
}
.comments-empty a, .comments-empty{
    -webkit-text-size-adjust: 100%;
}
.breadcrumb span{
    margin: 0 15px;
    -webkit-text-size-adjust: 100%;
}
.breadcrumb a{
    color: #000;
    -webkit-text-size-adjust: 100%;
}
.breadcrumb a:hover{
    text-decoration: underline;
}
.search-map{
    width: 800px;
    height: 400px;
    margin-top: 25px;
}
.wrapper-map{
    margin-left: 25px;
}
button, input[type="button"], input[type="submit"]{
    background: rgb(72, 0, 72);
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover, input[type="button"]:hover, input[type="submit"]:hover{
    opacity: 0.8;
}
#click-map, .loading button{
    margin: auto;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.loading{
    margin: 25px 0 0 25px;
}
.cssload-fond{
	position:relative;
	margin: auto;
}

.cssload-container-general
{
	animation:cssload-animball_two 1.6s infinite;
		-o-animation:cssload-animball_two 1.6s infinite;
		-ms-animation:cssload-animball_two 1.6s infinite;
		-webkit-animation:cssload-animball_two 1.6s infinite;
		-moz-animation:cssload-animball_two 1.6s infinite;
	width:43px; height:43px;
}
.cssload-internal
{
	width:43px; height:43px; position:absolute;
}
.cssload-ballcolor
{
	width: 19px;
	height: 19px;
	border-radius: 50%;
}
.cssload-ball_1, .cssload-ball_2, .cssload-ball_3, .cssload-ball_4
{
	position: absolute;
	animation:cssload-animball_one 1.6s infinite ease;
		-o-animation:cssload-animball_one 1.6s infinite ease;
		-ms-animation:cssload-animball_one 1.6s infinite ease;
		-webkit-animation:cssload-animball_one 1.6s infinite ease;
		-moz-animation:cssload-animball_one 1.6s infinite ease;
}
.cssload-ball_1
{
	background-color:rgb(203,32,37);
	top:0; left:0;
}
.cssload-ball_2
{
	background-color:rgb(248,179,52);
	top:0; left:23px;
}
.cssload-ball_3
{
	background-color:rgb(0,160,150);
	top:23px; left:0;
}
.cssload-ball_4
{
	background-color:rgb(151,191,13);
	top:23px; left:23px;
}





@keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-o-keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-ms-keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-webkit-keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-moz-keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@keyframes cssload-animball_two
{
	0%{transform:rotate(0deg) scale(1);}
	50%{transform:rotate(360deg) scale(1.3);}
	100%{transform:rotate(720deg) scale(1);}
}

@-o-keyframes cssload-animball_two
{
	0%{-o-transform:rotate(0deg) scale(1);}
	50%{-o-transform:rotate(360deg) scale(1.3);}
	100%{-o-transform:rotate(720deg) scale(1);}
}

@-ms-keyframes cssload-animball_two
{
	0%{-ms-transform:rotate(0deg) scale(1);}
	50%{-ms-transform:rotate(360deg) scale(1.3);}
	100%{-ms-transform:rotate(720deg) scale(1);}
}

@-webkit-keyframes cssload-animball_two
{
	0%{-webkit-transform:rotate(0deg) scale(1);}
	50%{-webkit-transform:rotate(360deg) scale(1.3);}
	100%{-webkit-transform:rotate(720deg) scale(1);}
}

@-moz-keyframes cssload-animball_two {
    0% {
        -moz-transform: rotate(0deg) scale(1);
    }
    50% {
        -moz-transform: rotate(360deg) scale(1.3);
    }
    100% {
        -moz-transform: rotate(720deg) scale(1);
    }
}
.cssload-container-general{
    margin: auto;
}
.none{
    display: none!important;
}
.tree-menu .active a{
    color: #000;
}
.course img{
    border-radius: 5px 5px 0 0;
    position: absolute;
    height: 187px;
    width: 250px;
}
.course-info{
    z-index: 10;
}
.Golubev{
    background-color: rgba(37, 43, 48, 0.65);
    height: 187px;
    width: 250px;
    z-index: 9;
    position: absolute;
    border-radius: 5px 5px 0 0;
}
.course-wrapper-title{
    height: 165px;
    border-radius: 5px 5px 0 0;
    z-index: 11;
    position: relative;
    color: #fff;
    padding: 25px 15px 0 15px;
}
.course-wrapper{
    position: relative;
}
.course-name{
    color: #fff;
    margin-bottom: 15px;
    font-size: 14px;
}
.course-title{
    color: #fff;
    display: inline;
    font-size: 16px;
    line-height: 20px;
}
.course-title:hover{
    border-bottom: 1px solid #fff;
}
.course-info{
    color: #879198;
}
.course-description{
    border-bottom: 1px solid rgb(225, 228, 224);
    padding: 15px;
    font-size: 14px;
}
.course-activity span, .course-price span{
    display: block;
    text-align: right;
}
.course-activity b, .course-price b{
    float: left;
}
.course-activity, .course-price{
    padding: 15px;
    font-size: 14px;
}
.course-activity{
    border-bottom: 1px solid rgb(225, 228, 224);
}
.course-map{
    height: 300px;
    width: 705px;
}
.recommend_courses{
    float: right;
    width: 250px;
    margin-left: 15px;
}
.page-course{
    float: left;
    width: 735px;
}
.wrapper-course{
    padding: 15px;
    width: 705px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}
.page-course h1{
    color: #000;
    margin: 0;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 8px;
}
.page-course dd{
    color: #939393;
    font-size: 12px;
    margin-bottom: 15px;
}
.page-course .organization{
    float: right;
    margin-bottom: 15px;
    margin-left: 15px;
}
.organization img{
    display: block;
}
.organization{
    width: 100px;
}
.organization span{
    color: #000;
    font-size: 12px;
    text-align: right;
    display: block;
    margin-top: 3px;
}
.page-course .introtext{
    color: #000;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
    text-indent: 20px;
}
.page-course .description{
    color: #000;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
    text-indent: 20px;
}
.page-course a{
    color: rgba(89, 0, 89, 0.8);
}
.page-course .description p{
    margin: 10px 0;
    display: block;
}
.page-course .photo img{
    margin: 15px 0;
}
.page-course table{
    width: 100%;
    margin-bottom: 25px;
}
.page-course th{
    width: 50%;
    padding: 20px;
    text-align: left;
}
.page-course tr:nth-child(2n) {
	background-color: rgba(89, 0, 89, 0.3);
}
.page-course th:nth-child(2n - 1) {
    color: #777;
}
.page-course th:nth-child(2n) {
    font-weight: 600;
    color: #000;
}
.page-course .options a{
    margin-bottom: 10px ;
    display: block;
}
.page-course a:hover{
    text-decoration: underline;
}
.page-course h2{
    color: #000;
    margin-bottom: 10px;
    font-size: 18px;
}
.social div{
    float: right;
}
.social{
    margin-top: 25px;
    text-align: right;
}
.social span{
    line-height: 24px;
}
.soc-span{
    margin-right: 15px;
}
.btn{
    display: block;
    border: 1px solid;
    padding: 5px 10px;
    margin-left: 5px;
    margin-top: 10px;
    float: right;
    border-radius: 5px;
    font-size: 16px;
}
.signin{
    background-color: #fff;
    color: #000;
}
.signin:hover{
    opacity: 1;
}
.signup{
    background-color: #1cc97d;
    border-color: #135240;
    color: #fff;
}
.signup:hover{
    background-color: #07996c;
    border-color: #115249;
    cursor: pointer;
}
.signin:hover{
    background-color: #aeaeae;
    cursor: pointer;
}
.hidden{
    display: none;
}
.comments-empty{
    padding: 15px;
    border: 1px solid rgb(72, 0, 72);
    border-radius: 5px;
    background-color:rgba(89, 0, 89, 0.3);
    margin-top: 15px;
    color: #000;
}
.comments-empty a{
    color: #fff;
}
.comments{
    padding: 15px;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}
.comments .thumbnail img{
    float: left;
    display: block;
    padding: 0 15px 15px 0;
}
.comment{
    margin-bottom: 15px;
}
.comment .panel-heading strong{
    color: rgb(72, 0, 72);
    font-size: 16px;
    display: inline;
}
.comment dd{
    color: #aaa;
    font-size: 14px;
    display: inline;
}
.comment p{
    color: #000;
    font-size: 16px;
    line-height: 18px;
    margin-top: 10px;
    word-break: break-all;
}
.comments textarea{
    width: 100%;
    padding: 15px;
    min-height: 100px;
    max-width: 705px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 3px;
    border-color: rgb(72, 0, 72);
}
.comments input[type="submit"]{
    display: block;
    text-align: right;
    float: right;
    margin-top: 10px;
    font-size: 16px;
}
#utr{
    position: fixed;
    color: #000;
}
.recommend_courses .course{
    margin: 0;
}
.recommend_courses .rec{
    font-size: 15px;
    display: block;
    color: #000;
    background-color: #fff;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}
.Rcourse img{
    position: absolute;
    height: 187px;
    width: 250px;
    border-radius: 5px;
}
.Rcourse-info{
    z-index: 10;
}
.RGolubev{
    background-color: rgba(37, 43, 48, 0.65);
    height: 187px;
    width: 250px;
    z-index: 9;
    position: absolute;
    border-radius: 5px;
}
.Rcourse-wrapper-title{
    height: 187px;
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
    z-index: 11;
    position: relative;
    color: #fff;
    padding: 15px 15px 0 15px;
}
.Rcourse-wrapper{
    position: relative;
    margin-bottom: 15px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    border-radius: 5px;
}
.Rcourse-name{
    display: block;
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}
.Rcourse-title{
    color: #fff;
    display: inline;
    font-size: 15px;
    line-height: 20px;
}
.Rcourse-title:hover{
    border-bottom: 1px solid #fff;
}
.Rcourse-info{
    color: #879198;
}
.Rcourse-wrapper-title span{
    display: block;
    color: #fff;
}
.Rcourse .age{
    float: right;
    border: 1px solid #fff;
    height: 25px;
    min-width: 25px;
    font-size: 16px;
    border-radius: 17px;
    text-align: center;
    line-height: 25px;
    margin-top: -5px;
    padding: 3px;
    margin-right: -5px;
}
#updown {
    position: fixed;
    margin-left: 1030px;
    top: calc(100% - 100px);
    cursor: pointer;
}

#updown.up{
    border-color: transparent transparent rgb(72, 0, 72) transparent;
    border-style: solid;
    border-width: 0 20px 30px 20px;
    height: 0;
    width: 0;
    cursor: pointer;
}

#updown.down{
  border-color: rgb(72, 0, 72) transparent transparent transparent;
    border-style: solid;
    border-width: 30px 20px 0 20px;
    height: 0;
    width: 0;
    cursor: pointer;
}
.fish{
    padding: 15px;
    border: 1px solid rgb(72, 0, 72);
    border-radius: 5px;
    background-color: rgba(89, 0, 89, 0.3);
    margin-top: 35px;
    color: #000;
    font-size: 24px;
}