html{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
body{
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    color: #333;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
    background: #fff;
}
.main_content .course{
    margin-left: 15px;
    margin-right: 15px;
}
.main_content .courses{
    width: 840px;
    margin: auto;
    float: none;
}
.main_content .loading{
    margin: 25px 0 0 0;
    text-align: center;
}
.main_content .offer{
    text-align: center;
}
.main_content .offer .span{
    font-size: 24px;
    font-weight: 500;
    margin-top: 15px;
    display: block;
}
.selection_courses .selection{
    width: 490px!important;
}
footer{
    background-color: rgb(33, 33, 33);
    height: 120px;
}
footer span{
    color: rgba(255, 255, 255, 0.870588);
    line-height: 120px;
    font-size: 28px;
}
.content {
    padding-bottom: 160px;
}
.new-logo h1{
    cursor: pointer;
}
.logoK button{
    width: auto!important;
}
.logoK span{
   color: #fff!important;
}
.logoK{
    color: #fff;
    background-image: url(../img/menu.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 1px) 14px;
    padding-right: 15px;
}
.partners{
    float: right;
    margin-right: 25px;
    margin-top: 25px;
}
footer span{
    margin-left: 463px;
    float: left;
    display: block;
}
.partners a:hover{
    color: rgb(255, 64, 129);
}
.fix-recom{
    font-family: Roboto, sans-serif;
    background-color: rgba(0, 0, 0, 0.870588);
    padding: 0px 24px;
    height: 48px;
    width: 600px;
    top: calc(100% - 48px);
    line-height: 48px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    max-width: 568px;
    min-width: 288px;
    flex-grow: 0;
    margin: auto;
    position: fixed;
    z-index: 333;
}
.fix-recom span{
    color: #fff;
}
.recom .course{
    margin-left: 56px;
}
.recreg{
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}
.recreg a{
    color: rgb(255, 64, 129);
}
.recreg a:hover{
    color: rgba(255, 64, 129, 0.4);
    cursor: pointer;
}