body {
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
}
.form-signin h2{
  text-align: center;
}

.error input{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1
}

.signup {
    background-color: #6fecaa;
    border: 1px solid #47ad96;
    color: #fff;
}
.signup:hover{
    background-color: #1cc97d;
    border-color: #208c6d;
}

a.file-input-wrapper.btn.btn-default.ask-signup-avatar-input{
  width: 300px;
  margin-bottom: 10px;
}
.form-signin h3{
  text-align: center;
  margin: 0;
}
.courses{
    margin-top: 25px;
}
.course{
    width: 32%;
    display: inline-flex;
    flex-direction: row;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;
}
.course:nth-child(3n+1){
    margin-right: 2%;
}
.course:nth-child(3n+2){
    margin-right: 2%;
}
.course h3{
    margin: 5px 0;
    color: #30c2ec;
}
.course img{
    border: 1px solid #b6b6b6;
    border-radius: 3px;
    margin: 10px 0;
    display: block;
}
.course-info{
    display: block;
}
.course dd{
    font-size: 10px;
    float: right;
}
.course span{
    float: right;
}
.course p{
    color:  rgb(47, 148, 255);
    margin: 5px 0;
}
.comment_form textarea{
    width: 96%;
    margin: 0 2%;
}
.comment_form button{
    float: right;
    margin-right: 12px;
    margin-top: 10px;
}
.sort-price a{
    cursor: pointer;
}
.course:nth-child(3n+3){

}
.kost{
    display: block;
}
.course-map{
    width: 500px;
    height: 500px;
    float: right;
}
.search-map{
    width: 500px;
    height: 500px;
}