{% extends "base.html" %}

{% block content %}
<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="/static/js/map-add.js" type="text/javascript"></script>
<style>
        #map {
            width: 300px;
            height: 300px;
        }
</style>

    <div class="container">
        <form class="form-signin" method="post" enctype="multipart/form-data" role="form" action="{% url 'add_course' %}">
            <h2 class="form-signin-heading">Добавление курса</h2>
            {% csrf_token %}
        
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            {% for field in form %}
                <div class="{% if field.errors %}error{% endif %}">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}

            <p class="form-signin-heading">Следущие поля не явлются обязательными, но помогут найти Ваш курс</p>
            <div id="map"></div>
            {% for error in forminfo.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            {% for field in forminfo %}
                <div class="{% if field.errors %}error{% endif %}">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <button class="btn btn-lg btn-primary btn-block" type="submit" onmouseover="cor()">Добавить</button>
        </form>
    </div>

{% endblock %}