{% extends "newbase.html" %}
{% load render_bundle from webpack_loader %}


{% block content %}
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="/static/js/map-add.js" type="text/javascript"></script>
    {% include 'tinymce/tinymce.html' %}
    <div class="add-course">
        <h1>Добавление курса</h1>
        <form class="form-add-course" method="post" enctype="multipart/form-data" role="form" action="{% url 'add_course' %}">
            {% csrf_token %}

            {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            {% for field in form %}
                <div class="{% if field.errors %}error{% endif %}">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}

            <div id="menu" class="menu"></div>
            {% render_bundle 'add_course' %}

            <span>Найдите ваш адрес на карте</span>
            <div id="map" class="map-add"></div>

            <div class="add-course-second">
                {% for error in forminfo.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
                {% for field in forminfo %}
                    <div class="{% if field.errors %}error{% endif %}">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" onmouseover="cor()">Добавить курс</button>
            <div class="clear"></div>
        </form>
    </div>

{% endblock %}