{% extends "newbase.html" %}
{% block content %}

    {% if  user.is_authenticated %}
        <script type="text/babel" src="/static/js/single_course/comments.js"></script>
    {% endif %}
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="/static/js/single_course/map-course.js" type="text/javascript"></script>
    <script src="/static/js/single_course/recommend_course.js" type="text/babel"></script>
    <script src="/static/js/single_course/like.js" type="text/babel"></script>

    <div class="breadcrumb">
        <a href="{% url 'main' %}">Главная</a>
        <span>/</span>
        <a href="{% url 'main' %}">Поиск курсов</a>
        <span>/</span>
        <b>{{ course.title }}</b>
    </div>

    <div class="page-course" id="page-course">
        {% include 'single_course/single_course.html' %}


        {% if  user.is_authenticated %}
            <div class="comments">
                <div id="course_id" class="hidden">{{ course.id }}</div>
                <div id="name" class="hidden">{{ user.username }}</div>
                <div id="root"></div>
            </div>
        {% else %}
            <div class="comments-empty">
                <a href={% url 'signin' %}>Войдите</a> или <a href={% url 'signup' %}>зарегистрируйтесь</a>, чтобы оставить ваш комментарий.
            </div>
        {% endif %}
    </div>

    <div class="recommend_courses">
        <span class="rec">Рекомендованные вам курсы</span>
        <div id="recommend_courses"></div>
    </div>

    <div id="updown"></div>

{% endblock %}