{% extends "base.html" %}

{% block content %}

    <div class="container">
        <form class="form-signin" method="post" role="form" action="{% url 'edit_course' course.id %}">
            <h2 class="form-signin-heading">Редактирование курса "{{ course.title }}"</h2>
            {% csrf_token %}
        
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            {% for field in form %}
                <div class="{% if field.errors %}error{% endif %}">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}

            <p class="form-signin-heading">Следущие поля не явлются обязательными, но помогут найти Ваш курс</p>
            {% for error in forminfo.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            {% for field in forminfo %}
                <div class="{% if field.errors %}error{% endif %}">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
        
            <button class="btn btn-lg btn-primary btn-block" type="submit">Добавить</button>
        </form>
    </div>

{% endblock %}