{% extends "newbase.html" %}

{% block content %}
    <div class="form-wrapper">

        <form class="form-signin" method="post" role="form" action="{% url 'signin' %}">
            <h1 class="form-signin-heading">Войдите</h1>
            {% csrf_token %}

            {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}

            {% for field in form %}
                <div class="{% if field.errors %}error{% endif %}">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}

            <div class="right">
                <button type="submit">Войти</button>
            </div>
        </form>

    </div>
{% endblock %}