<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Doppi</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/new.css">
    <meta name="viewport" content="width=1040">


    <script src="/static/js/jquery.min.js"></script>

    <script src="/static/js/react-with-addons.js"></script>
    <script src="/static/js/react-dom.js"></script>
    <script src="/static/js/browser.min.js"></script>


    <script src="/static/js/redux.js"></script>
    <script src="/static/js/react-redux.js"></script>


</head>
<body>
<!-- Yandex.Metrika counter -->
{% include 'YandexMetrika.html' %}
<!-- /Yandex.Metrika counter -->
<div class="wrapper">
    <div class="content">
        <nav class="nav">
            <div class="container">
                <div class="logo">
                    <a href="{% url 'main' %}">Doppi</a>
                </div>
                <ul class="navbar-left">
                    <li><a href="{% url 'bar' %}">Поиск</a></li>
                    <li><a href="{% url 'add_course' %}">Добавить курс</a></li>
                </ul>

                <ul class="navbar-right">
                    {% if  user.is_authenticated %}
                        <li class="dropdown" id="dropdown">
                            <a>{{ user.username }} <b class="caret"></b></a>
                            <div class="drop">
                                <ul class="dropdown-menu" id="dropdown-menu">
                                    <li><a href="{% url 'edit' %}">Изменить профиль</a></li>
                                    <li><a href="{% url 'logout' %}">Выйти</a></li>
                                </ul>
                            </div>
                        </li>
                    {% else %}
                        <a href="{% url 'signup' %}">
                            <button type="button" class="btn signup">Sign up</button>
                        </a>
                        <a href="{% url 'signin' %}">
                            <button type="button" class="btn signin">Sign in</button>
                        </a>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <div class="clear"></div>
    </div>
    <footer>
        <span>Doppi</span>
    </footer>
</div>
<script src="/static/js/pusher.min.js"></script>
<script src="/static/js/js.cookie.js"></script>




</body>