{% extends "newbase.html" %}
{% block content %}

    <link rel="stylesheet" href="/static/css/react.css">
    <script src="//api-maps.yandex.ru/2.1/?lang=ru-RU" type="text/javascript"></script>
    <script src="/static/js/search/map-search.js" type="text/javascript"></script>

    <div class="breadcrumb">
        <a href="{% url 'main' %}">Главная</a>
        <span>/</span>
        <b>Поиск курсов</b>
    </div>
    {% if  user.is_authenticated %}
        <div class="request">
            {% if profile == False and tests == False %}
                <span class="orange">Заполните пожалуйста <a href="{% url 'edit' %}">профиль</a> и пройдите <a href="{% url 'edit' %}">тесты</a>. Это нужно для того чтобы мы смогли подобрать вам курсы</span>
            {% elif profile == False %}
                <span class="orange">Заполните пожалуйста <a href="{% url 'edit' %}">профиль</a>. Это нужно для того чтобы мы смогли подобрать вам курсы</span>
            {% elif tests == False %}
                <span class="orange">Пройдите <a href="{% url 'edit' %}">тесты</a>. Это нужно для того чтобы мы смогли подобрать вам курсы</span>
            {% endif %}
        </div>
        <div id='content' class="content-like"></div>
    {% else %}
        <div id='content'></div>
    {% endif %}
    <script src="/static/js/search_course.js" type="text/javascript"></script>

    <script src="/static/js/search/fixed-bar.js" type="text/javascript"></script>
{% endblock %}