{% extends "newbase.html" %}
{% block content %}

    <script src="/static/js/library/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/react.css">
    <script src="//api-maps.yandex.ru/2.1/?lang=ru-RU" type="text/javascript"></script>
    <script src="/static/js/search/map-search.js" type="text/javascript"></script>
    <div class="breadcrumb">
        <a href="{% url 'main' %}">Главная</a>
        <span>/</span>
        <b>Поиск курсов</b>
    </div>

    {% if  user.is_authenticated %}
        <div id='content' class="content-like"></div>
    {% else %}
        <div id='content'></div>
    {% endif %}

    <script type="text/babel" src="/static/js/search/search.js"></script>
    <script src="/static/js/search/fixed-bar.js" type="text/javascript"></script>
{% endblock %}