{% extends "newbase.html" %}

{% block content %}
    <div class="form-wrapper">

        <form class="form-signin" method="post" role="form" action="{% url 'edit' %}" enctype="multipart/form-data">
            <h1 class="form-signin-heading">Мой профиль</h1>
            {% csrf_token %}
            <div class="{% if field.errors %}error{% endif %}">
            </div>
            {% for field in form_info %}
                <div class="{% if field.errors %}error{% endif %}">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <div class="right">
                <button type="submit">Сохранить</button>
            </div>
        </form>
        <div class="tests">
            <h2>Пройдите пожалуйста тесты, чтобы мы могли подобрать вам курсы!</h2>
            <table>
            {% for t in tests %}
                <tr>
                    <th>
                        <a href="test/{{ t.id }}">{{ t.title }}</a>

                    <th>
                        {% if t.passed %}
                            <span class="green">Пройден</span>
                        {% else %}
                            <span class="red">Не пройден</span>
                        {% endif %}
                    </th>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}