{% extends "newbase.html" %}

{% block content %}
    <div class="form-wrapper">

        <form class="form-signin" method="post" role="form" action="{% url 'edit' %}" enctype="multipart/form-data">
            <h1 class="form-signin-heading">Настройки</h1>
            {% csrf_token %}
            <div class="{% if field.errors %}error{% endif %}">
            </div>
            {% for field in form %}
                <div class="{% if field.errors %}error{% endif %}">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            {% for field in form_profile %}
                <div class="{% if field.errors %}error{% endif %}">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            {% for field in form_info %}
                <div class="{% if field.errors %}error{% endif %}">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <div class="right">
                <button class="" type="submit">Cохранить</button>
            </div>
        </form>
    </div>
{% endblock %}