{% extends "base.html" %}

{% block content %}
    <div class="container">

        <form class="form-signin" method="post" role="form" action="{% url 'signup' %}" enctype="multipart/form-data">
            <h2 class="form-signin-heading">Sign up to Doppi</h2>
            {% csrf_token %}

            {% for field in signup_form %}
                <div class="{% if field.errors %}error{% endif %}">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}

            {% for field in user_profile_signup_form %}
                <div class="{% if field.errors %}error{% endif %}">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

    </div>
{% endblock %}