<div>
    <h3><a href="{% url 'single_course' course.id %}">Название: {{ course.title }}</a></h3>
    Добавлено {{ course.author.username }} в {{ course.added_at }}<br>
    <img src="{{ course.pic.url }}"><br>
    {% if course.phone_number != '' %}Телефон: {{ course.phone_number }}<br>{% endif %}
    {% if course.description != '' %}{{ course.description }}<br>{% endif %}
    {% if course.info.is_indoors %}В помещении{% else %} На открытом воздухе {% endif %}<br>
    {{ course.info.age_from }} - {{ course.info.age_to }} лет<br>
    Тематика: {{ course.info.get_activity_display }}<br>
    Местоположение: {{ course.info.location }}<br>
    Цена: {{ course.info.price }} р.<br>
    Длительность: {{ course.info.length }}<br>
    Частота:{{ course.info.frequency }} раз в неделю

</div>